@import "color.scss";

.animation {
  height: 100vh;
  background: rgba(35, 182, 204, 1);
  position: relative;
  overflow: hidden;
  .paper-plane {
    height: 100px;
    position: relative;
    top: 90%;
    left: 0;
  }
  .line {
    position: relative;
    top: 82%;
    left: 5vw;
    right: 5vw;
    margin-right: 100%;
    width: 90%;
    @include media("<=452px") {
      top: 78%;
      left: 0;
    }
  }

  .elementsToReveal {
    position: absolute;
    opacity: 0;
    -webkit-transform: translateX(-40px);
    -moz-transform: translateX(-40px);
    -ms-transform: translateX(-40px);
    -o-transform: translateX(-40px);
    transform: translateX(-40px);
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    &.visible {
      opacity: 1;
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
      transform: none;
    }
    &:nth-child(1) {
      margin-top: 50px;
      transform: translateX(10vw);
    }
    &:nth-child(2) {
      margin-top: 50px;
      transform: translateX(36vw);
    }
    &:nth-child(3) {
      margin-top: 100px;
      transform: translateX(52vw);
    }
    &:nth-child(4) {
      margin-top: 150px;
      transform: translateX(68vw);
    }
    &:nth-child(5) {
      margin-top: 200px;
      transform: translateX(84vw);
    }
  }
  .ist {
    p {
      font-family: Summer;
      font-size: 2em;
      color: white;
      transform: rotate(-9deg) translate(-0.4em, -0.2em);
      &.years {
        font-size: 1.4em;
      }
    }

    .istlogo {
      width: 200px;
    }
  }

  .unknown {
    font-family: Summer;
    font-size: 4em;
    color: white;
  }
}
