$blue: #23b6cc;
$green: #45ffb0;
$grey: #8dbbc2;
$light-orange: #ff8585;
$black: rgb(21, 21, 21);
$background-color-hero: linear-gradient(
  0deg,
  rgba(35, 182, 204, 1) 50%,
  rgba(34, 169, 189, 1) 59%
);

@font-face {
  font-family: "Summer";
  src: url("https://andreleite.pt/fonts/Summer Font Regular.otf")
    format("opentype");
}
