@font-face {
  font-family: "Summer";
  src: url("https://andreleite.pt/fonts/Summer Font Regular.otf") format("opentype");
}
@font-face {
  font-family: "Summer";
  src: url("https://andreleite.pt/fonts/Summer Font Regular.otf") format("opentype");
}
nav {
  z-index: 999;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  margin-right: 5%;
  align-items: center;
  min-height: 8vh;
  background-color: transparent;
}
nav .logo {
  color: white;
  margin-left: 5%;
  position: relative;
  display: flex;
}
nav .logo .logo-image {
  width: 25px;
  height: 25px;
}
nav .logo h4 {
  margin-left: 1px;
  margin-top: -6px;
  font-family: Summer;
  font-size: 25px;
}
nav .nav-links {
  display: flex;
  width: 35%;
  justify-content: space-around;
}
nav .nav-links li {
  list-style: none;
}
nav .nav-links li:hover .underline {
  transform: scale(0.7);
}
nav .nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 14px;
}
nav .nav-links .underline {
  background-color: white;
  height: 2px;
  width: 100%;
  transform: scale(0);
  transition: transform 0.4s ease;
}
nav .burger {
  display: none;
  cursor: pointer;
}
nav .burger div {
  width: 30px;
  height: 2px;
  background-color: #151515;
  margin: 6px;
  transition: all 0.5s ease;
}
@media (max-width: 1024px) {
  nav .nav-links {
    width: 60%;
  }
}
@media (max-width: 768px) {
  nav body {
    overflow-x: hidden;
  }
  nav .nav-links {
    position: absolute;
    height: 100vh;
    top: 0;
    width: 100vw;
    background: #23b6cc;
    background: linear-gradient(157deg, white 64%, #f8f8f8 64%);
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(200%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    border-top: 1.5vh solid #23b6cc;
    border-bottom: 1.5vh solid #23b6cc;
    border-left: 3vw solid #23b6cc;
    border-right: 6vw solid #23b6cc;
  }
  nav .nav-links li {
    opacity: 0;
  }
  nav .nav-links a {
    color: black;
  }
  nav .burger {
    display: block;
    z-index: 2;
  }
  nav .burger.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 1px);
  }
  nav .burger.toggle .line2 {
    transform: rotate(45deg) translate(-5px, -1px);
  }
  nav .nav-active {
    opacity: 1;
    transform: translateX(0%);
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}

@font-face {
  font-family: "Summer";
  src: url("https://andreleite.pt/fonts/Summer Font Regular.otf") format("opentype");
}
.section.s1 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #23b6cc;
  position: relative;
}
.section.s1 h1 {
  font-size: 60px;
}

.background-parallax {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background: linear-gradient(0deg, #23b6cc 50%, #22a9bd 59%);
  z-index: -999;
  position: inherit !important;
  display: flex;
  justify-content: center;
  align-content: center;
}

#logo-name {
  height: 100vh;
}
#logo-name g:nth-child(n) {
  display: none;
  width: auto;
}
#logo-name .smaller-letters path:nth-child(n) {
  transform: scale(0.85) translateX(3%);
  transform-origin: center;
}
#logo-name .parallax {
  stroke: white;
}
@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}
#logo-name .toy {
  width: 900px;
  opacity: 1;
  animation: 0.5s ease-out 0s scaleDownOnEntry;
  transform-origin: center;
  margin-left: 10%;
}
@keyframes scaleDownOnEntry {
  from {
    opacity: 0;
    transform: scale(1.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.scroll-downs {
  position: absolute;
  right: 0;
  bottom: 2rem;
  left: 0;
  margin: auto;
  width: 34px;
  height: 55px;
  opacity: 0;
  animation: scrollFadeIn 0.8s ease forwards 4.8s;
}

.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 3px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}

.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}

@keyframes scrollFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes scroll {
  0% {
    opacity: 0.15;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0.15;
  }
}
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .scroll-downs {
    display: none;
  }

  #logo-name {
    position: absolute;
    top: 15vh;
    right: -8vw;
    height: 30vh;
    width: 90vw;
  }
  #logo-name .smaller-letters path:nth-child(n) {
    transform: scale(0.85) translate(-50%, 120%);
    transform-origin: center;
  }
}
@font-face {
  font-family: "Summer";
  src: url("https://andreleite.pt/fonts/Summer Font Regular.otf") format("opentype");
}
.animation {
  height: 100vh;
  background: #23b6cc;
  position: relative;
  overflow: hidden;
}
.animation .paper-plane {
  height: 100px;
  position: relative;
  top: 90%;
  left: 0;
}
.animation .line {
  position: relative;
  top: 82%;
  left: 5vw;
  right: 5vw;
  margin-right: 100%;
  width: 90%;
}
@media (max-width: 452px) {
  .animation .line {
    top: 78%;
    left: 0;
  }
}
.animation .elementsToReveal {
  position: absolute;
  opacity: 0;
  -webkit-transform: translateX(-40px);
  -moz-transform: translateX(-40px);
  -ms-transform: translateX(-40px);
  -o-transform: translateX(-40px);
  transform: translateX(-40px);
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}
.animation .elementsToReveal.visible {
  opacity: 1;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.animation .elementsToReveal:nth-child(1) {
  margin-top: 50px;
  transform: translateX(10vw);
}
.animation .elementsToReveal:nth-child(2) {
  margin-top: 50px;
  transform: translateX(36vw);
}
.animation .elementsToReveal:nth-child(3) {
  margin-top: 100px;
  transform: translateX(52vw);
}
.animation .elementsToReveal:nth-child(4) {
  margin-top: 150px;
  transform: translateX(68vw);
}
.animation .elementsToReveal:nth-child(5) {
  margin-top: 200px;
  transform: translateX(84vw);
}
.animation .ist p {
  font-family: Summer;
  font-size: 2em;
  color: white;
  transform: rotate(-9deg) translate(-0.4em, -0.2em);
}
.animation .ist p.years {
  font-size: 1.4em;
}
.animation .ist .istlogo {
  width: 200px;
}
.animation .unknown {
  font-family: Summer;
  font-size: 4em;
  color: white;
}

@font-face {
  font-family: "Summer";
  src: url("https://andreleite.pt/fonts/Summer Font Regular.otf") format("opentype");
}
.projects {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #23b6cc;
  position: relative;
}
.projects h1 {
  font-size: 60px;
}
.projects .project {
  color: white;
}

/*!
 * fullPage 3.1.0
 * https://github.com/alvarotrigo/fullPage.js
 *
 * @license GPLv3 for open source use only
 * or Fullpage Commercial License for commercial use
 * http://alvarotrigo.com/fullPage/pricing/
 *
 * Copyright (C) 2018 http://alvarotrigo.com/fullPage - A project by Alvaro Trigo
 */
.fp-enabled body, html.fp-enabled {
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.fp-section {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.fp-slide {
  float: left;
}

.fp-slide, .fp-slidesContainer {
  height: 100%;
  display: block;
}

.fp-slides {
  z-index: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.fp-section.fp-table, .fp-slide.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.fp-slidesContainer {
  float: left;
  position: relative;
}

.fp-controlArrow {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.fp-controlArrow.fp-prev {
  left: 15px;
  width: 0;
  border-width: 38.5px 34px 38.5px 0;
  border-color: transparent #fff transparent transparent;
}

.fp-controlArrow.fp-next {
  right: 15px;
  border-width: 38.5px 0 38.5px 34px;
  border-color: transparent transparent transparent #fff;
}

.fp-scrollable {
  overflow: hidden;
  position: relative;
}

.fp-scroller {
  overflow: hidden;
}

.iScrollIndicator {
  border: 0 !important;
}

.fp-notransition {
  -webkit-transition: none !important;
  transition: none !important;
}

#fp-nav {
  position: fixed;
  z-index: 100;
  top: 50%;
  opacity: 1;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translate3d(0, -50%, 0);
}

#fp-nav.fp-right {
  right: 17px;
}

#fp-nav.fp-left {
  left: 17px;
}

.fp-slidesNav {
  position: absolute;
  z-index: 4;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  left: 0 !important;
  right: 0;
  margin: 0 auto !important;
}

.fp-slidesNav.fp-bottom {
  bottom: 17px;
}

.fp-slidesNav.fp-top {
  top: 17px;
}

#fp-nav ul, .fp-slidesNav ul {
  margin: 0;
  padding: 0;
}

#fp-nav ul li, .fp-slidesNav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative;
}

.fp-slidesNav ul li {
  display: inline-block;
}

#fp-nav ul li a, .fp-slidesNav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}

#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span {
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 100%;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  background: #333;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span {
  width: 10px;
  height: 10px;
  margin: -5px 0 0 -5px;
}

#fp-nav ul li .fp-tooltip {
  position: absolute;
  top: -2px;
  color: #fff;
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  white-space: nowrap;
  max-width: 220px;
  overflow: hidden;
  display: block;
  opacity: 0;
  width: 0;
  cursor: pointer;
}

#fp-nav ul li:hover .fp-tooltip, #fp-nav.fp-show-active a.active + .fp-tooltip {
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  width: auto;
  opacity: 1;
}

#fp-nav ul li .fp-tooltip.fp-right {
  right: 20px;
}

#fp-nav ul li .fp-tooltip.fp-left {
  left: 20px;
}

.fp-auto-height .fp-slide, .fp-auto-height .fp-tableCell, .fp-auto-height.fp-section {
  height: auto !important;
}

.fp-responsive .fp-auto-height-responsive .fp-slide, .fp-responsive .fp-auto-height-responsive .fp-tableCell, .fp-responsive .fp-auto-height-responsive.fp-section {
  height: auto !important;
}

.fp-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/*# sourceMappingURL=fullpage.min.css.map */
@font-face {
  font-family: "Summer";
  src: url("https://andreleite.pt/fonts/Summer Font Regular.otf") format("opentype");
}
footer {
  height: 11.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f5f5;
  position: relative;
}

html {
  scroll-behavior: smooth;
  background: #23b6cc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #23b6cc;
  position: relative;
}

header h1 {
  font-size: 60px;
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #23b6cc;
  position: relative;
}
.section h1 {
  font-size: 60px;
}

/*# sourceMappingURL=style.css.map */
