nav {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  margin-right: 5%;
  align-items: center;
  min-height: 8vh;
  background-color: transparent;
}
nav .logo {
  color: white;
  margin-left: 5%;
}
nav .nav-links {
  display: flex;
  width: 35%;
  justify-content: space-around;
}
nav .nav-links li {
  list-style: none;
}
nav .nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}
nav .burger {
  display: none;
  cursor: pointer;
}
nav .burger div {
  width: 30px;
  height: 2px;
  background-color: #151515;
  margin: 6px;
  transition: all 0.5s ease;
}
@media (max-width: 1024px) {
  nav .nav-links {
    width: 60%;
  }
}
@media (max-width: 768px) {
  nav body {
    overflow-x: hidden;
  }
  nav .nav-links {
    position: absolute;
    height: 100vh;
    top: 0;
    width: 100vw;
    background: #23b6cc;
    background: linear-gradient(157deg, white 64%, #f8f8f8 64%);
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(200%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    border-top: 1.5vh solid #23b6cc;
    border-bottom: 1.5vh solid #23b6cc;
    border-left: 3vw solid #23b6cc;
    border-right: 6vw solid #23b6cc;
  }
  nav .nav-links li {
    opacity: 0;
  }
  nav .nav-links a {
    color: black;
  }
  nav .burger {
    display: block;
    z-index: 2;
  }
  nav .burger.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 1px);
  }
  nav .burger.toggle .line2 {
    transform: rotate(45deg) translate(-5px, -1px);
  }
  nav .nav-active {
    opacity: 1;
    transform: translateX(0%);
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}

.background-parallax {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background: linear-gradient(0deg, #23b6cc 50%, #22a9bd 59%);
  z-index: -999;
}

#logo-name {
  height: 100vh;
}
#logo-name g:nth-child(n) {
  display: none;
  width: auto;
}
#logo-name .smaller-letters path:nth-child(n) {
  transform: scale(0.85) translateX(3%);
  transform-origin: center;
}
@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}
#logo-name .toy {
  width: 900px;
  opacity: 1;
  animation: 0.5s ease-out 0s scaleDownOnEntry;
  transform-origin: center;
  margin-left: 10%;
}
@keyframes scaleDownOnEntry {
  from {
    opacity: 0;
    transform: scale(1.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header,
footer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #23b6cc;
  position: relative;
}

header h1 {
  font-size: 60px;
}

.animation {
  height: 100vh;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  position: relative;
  overflow: hidden;
}

.paper-plane {
  height: 200px;
  position: relative;
  top: 50%;
  left: 0%;
}

/*# sourceMappingURL=style.css.map */
