@import "./scss/mediaQuery.scss";
@import "./scss/color.scss";
@import "./scss/navbar.scss";
@import "./scss/hero.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header,
footer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $blue;
  position: relative;
}
header h1 {
  font-size: 60px;
}
.animation {
  height: 100vh;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  position: relative;
  overflow: hidden;
}
.paper-plane {
  height: 200px;
  position: relative;
  top: 50%;
  left: 0%;
}
